@page
@model lab5.Pages.Projects.EditModel

<form method = "post">
	<input asp-for="_project.Id" hidden />
	<label>Name of project</label>
	<input asp-for="_project.Name" />
	<span asp-validation-for="_project.Name"></span>
	<br/>
	<label>DateOfStart</label>
	<input asp-for="_project.DateOfStart" />
	<span asp-validation-for="_project.DateOfStart"></span>
	<br/>
	<label>DateOfEnd</label>
	<input asp-for="_project.DateOfEnd"  />
	<span asp-validation-for="_project.DateOfEnd"></span>
	<br/>
	<label>Description</label>
	<input asp-for="_project.Description"  />
	<span asp-validation-for="_project.Description"></span>
	<br/>
	<button type="submit">Update project</button>
	<button><a asp-page="Index">Return to all projects</a></button>
</form>

